aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anyio==4.11.0
attrs==25.3.0
certifi==2025.8.3
click==8.3.0
frozenlist==1.7.0
grpclib==0.4.8
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
markdown-it-py==4.0.0
mdurl==0.1.2
modal==1.1.4
multidict==6.6.4
propcache==0.3.2
protobuf==6.32.1
Pygments==2.19.2
rich==14.1.0
shellingham==1.5.4
sigtools==4.0.1
sniffio==1.3.1
synchronicity==0.10.2
toml==0.10.2
typer==0.19.2
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.15.0
watchfiles==1.1.0
yarl==1.20.1
